[submodule "code/next.js"]
	path = code/next.js
	url = git@github.com:Siegrift/next.js.git
[submodule "code/tt-webpack-starter"]
	path = code/tt-webpack-starter
	url = git@github.com:Siegrift/tt-webpack-starter.git
[submodule "code/react"]
	path = code/react
	url = git@github.com:Siegrift/react.git
[submodule "code/cypress"]
	path = code/cypress
	url = git@github.com:Siegrift/cypress.git
[submodule "code/jquery"]
	path = code/jquery
	url = git@github.com:Siegrift/jquery.git
