[submodule "code/next.js"]
	path = code/next.js
	url = git@github.com:Siegrift/next.js.git
[submodule "code/tt-webpack-starter"]
	path = code/tt-webpack-starter
	url = git@github.com:Siegrift/tt-webpack-starter.git
[submodule "code/react"]
	path = code/react
	url = git@github.com:Siegrift/react.git
[submodule "code/cypress"]
	path = code/cypress
	url = git@github.com:Siegrift/cypress.git
[submodule "code/jquery"]
	path = code/jquery
	url = git@github.com:Siegrift/jquery.git
[submodule "code/cypress-trusted-types"]
	path = code/cypress-trusted-types
	url = git@github.com:Siegrift/cypress-trusted-types.git
[submodule "code/cypress-documentation"]
	path = code/cypress-documentation
	url = git@github.com:Siegrift/cypress-documentation.git
[submodule "code/trusted-types"]
	path = code/trusted-types
	url = git@github.com:Siegrift/trusted-types.git
[submodule "code/solid"]
	path = code/solid
	url = git@github.com:Siegrift/solid.git
[submodule "code/babel-plugin-jsx-dom-expressions"]
	path = code/babel-plugin-jsx-dom-expressions
	url = git@github.com:Siegrift/babel-plugin-jsx-dom-expressions.git
[submodule "code/dom-expressions"]
	path = code/dom-expressions
	url = git@github.com:Siegrift/dom-expressions.git
[submodule "code/vite"]
	path = code/vite
	url = git@github.com:Siegrift/vite.git
[submodule "code/solid-realworld"]
	path = code/solid-realworld
	url = git@github.com:Siegrift/solid-realworld.git
